.custom-input {
    background-color: #e0e0e0; /* Reemplaza #e0e0e0 con el color que desees */
  }

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 0  10px 20px; /* Ajusta el valor según sea necesario */

}

.custom-input {
  margin: 10px;
  padding: 10px;
}

.qr-code {
  margin-top: 20px;
}
