<ion-header  class="header">
  <ion-toolbar>
    <ion-buttons slot="start"*ngIf="esVisible" >
      <ion-back-button defaultHref="/login"(click)="retroceder()" >
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >{{titulo}}</ion-title>
    <ion-card-subtitle  class="ion-text-center" *ngIf="show">Bienvenido: {{nombre}}</ion-card-subtitle>
    <!-- Se agrega un ngIf para validar si el usuario esta logueado , el boton sera visible -->
    <ion-buttons slot="end">
      <ion-button size="small" (click)="irCerrar()" *ngIf="isLogged">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>