
.input {
    font-size: 300;
}

ion-item{
  
    border-radius:10px ;
    margin-bottom: 16px;
}
ion-header.header {
  --ion-background-color: black;
  color: white;
}

// .header {
//     margin-top:30px ;
//     margin-bottom: 30px;
//     text-align: center;
//     .subTitle{
//         color:gray;
//         font-size: 0.9rem;
//     }
//     title{
//         font-size: 2rem;
//     }
// }
ion-title, ion-card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.centered-title {
    text-align: center;
  }
  
  .centered-subtitle {
    text-align: center;
  }