<ion-footer>
  <ion-toolbar color="dark">
    
    <div class="ion-text-center footer-center">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1067px-Logo_DuocUC.svg.png" class="logo">
    </div>  
 <!-- <ion-title class="ion-text-center">RegistrApp</ion-title> -->
    <div class="social-icons-container">
      <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
      <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
      <ion-icon name="logo-linkedin" class="social-icon"></ion-icon>
      <ion-icon name="logo-reddit" class="social-icon"></ion-icon>

    </div>
    <ul class="footer-menu-container">
    <li class="menu-item">Legal</li>
    <li class="menu-item">Cookies</li>
    <li class="menu-item">Privacidad</li>
   
    </ul>
    <div class="ion-text-center ">
      <span class="copyright">&copy;2023, DuocUC Desarrollo de aplicaciones móviles</span>
    </div>
  </ion-toolbar>
</ion-footer>