<app-header></app-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="formIngresarUsuario" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4">
          <ion-item>
            <ion-input
              class="input"
              id="nombre"
              formControlName="nombre"
              placeholder="Ingrese nombre de usuario"
              type="text"
              label-placement="floating"
              fill="outline"
            ></ion-input>
            <ion-icon name="person-outline"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input
              class="input"
              formControlName="password"
              placeholder="Ingrese Contraseña"
              type="password"
              label-placement="floating"
              fill="outline"
            ></ion-input>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-item>

          <div class="button-container">
            <ion-button color="primary" id="btnIngresar" (click)="ingresarUsuario()" type="submit">
              INGRESAR
            </ion-button>
            <ion-button color="secondary" (click)="irARecuperar()">
              RECUPERAR
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<app-footer></app-footer>