footer{
    width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    padding: 2rem 5%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .logo {
    height: 50px;
    margin-bottom: 1rem;

  }
  .social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }
  .social-icon{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 0.5rem ;

  }
.social-icon:hover{
    background-color: #121212;
    filter: invert(1);
}
.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 14px;

}
.menu-item {
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    opacity: 0.6;
    }
.menu-item:hover {
    opacity: 1;
}
.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}
.footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  ion-button {
    transition: box-shadow 0.3s ease-in-out;

  }
  
 ion-button:hover {
    background-color: #A1A1A1; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }